/* =========================================================
   AVISO FAN MADE
   ========================================================= */

.about-notice {
    max-width: 700px;

    margin-top: 55px;

    padding: 22px 25px;

    background: rgba(57, 191, 255, 0.035);

    border-left: 3px solid var(--blue);

    color: var(--muted);

    font-size: 12px;

    line-height: 1.7;
}


.about-notice strong {
    color: var(--white);
}


/* =========================================================
   CELULAR
   ========================================================= */

@media (max-width: 800px) {

    .about-page {
        padding: 135px 5% 70px;
    }


    .about-header {
        margin-bottom: 50px;
    }


    .about-header h1 {
        font-size: 65px;
    }


    .about-main {
        grid-template-columns: 1fr;

        gap: 40px;
    }


    .about-content h2 {
        font-size: 32px;
    }


    .about-card {
        min-height: 220px;
    }


    .about-divider {
        margin: 60px 0 40px;
    }


    .about-credits h2 {
        font-size: 36px;
    }


    .credits-grid {
        grid-template-columns: 1fr;
    }
}


/* =========================================================
   CELULAR PEQUENO
   ========================================================= */

@media (max-width: 500px) {

    .about-header h1 {
        font-size: 55px;
    }


    .about-header p:last-child {
        font-size: 13px;
    }


    .about-card {
        padding: 22px;
    }


    .about-card h3 {
        font-size: 29px;
    }


    .about-content p {
        font-size: 13px;
    }
}
